*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

.container {
    width: 100%;
    padding: 0 20px;
    max-width: 1610px;
    margin: 0 auto;
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: tomato;  
}

.holder {
    font-weight: bold;
    font-size: 22px;
    line-height: 32px;
}

@media (min-width: 1200px) {
    .holder {
        font-size: 36px;
        line-height: 52px;
    }
}

h1 {
    margin-bottom: 20px;
}

.canvas-text {
    color: transparent;
    position: relative;
    overflow: hidden;
}

hr {
    border: none;
    padding: 50vh 0;
}

.canvas-text.loaded .canvas-wrapper canvas {
    transform: translateY(0);
}

.canvas-text:last-child {
    margin-bottom: 0;
}

.canvas-text .canvas-wrapper {
    position: absolute;
    display: block;
    pointer-events: none;
    overflow: hidden;
}

.canvas-text canvas {
    display: block;
    transform: translateY(100%);
    transition: transform 0.7s;
}